language: python

python:
 - "3.6"

install: pip install -r engine/requirements.txt

script:
 - cd engine/ && pytest -vsl --cov="."
 - pylint engine --rcfile pylint.rc || true
after_success:
 - codecov
